<nav class="">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/welcome']" routerLinkActive="active">Welcome</a>
        </li>
        <li class="nav-item">            
            <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">            
            <a class="nav-link" [routerLink]="['/cart']" routerLinkActive="active">Cart</a>
        </li>
    </ul>
</nav>