.search-wrapper { 
    padding: 6pt 6pt 4pt 6pt;
    margin: 0pt 6pt 15pt 6pt;
    border: black;
    border-width: 1pt;
    border-bottom: solid;
    background-color: white;
    width: 100%;
}

input[type=text] {
    width: 100%;
    background-color: #F000;
    color: black;
    border: none;
    font-size: 18pt;
    font-weight: 100;
    text-align: center;
    transform: translateX(-10pt);
    transform: translateY(4pt);
    resize: none;
}

input[type=text]:focus {
    border: none;
    background-color: #F000;
    outline: none !important;
}